@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@400;700&family=Montserrat+Alternates:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Marck+Script&display=swap');
body{
  position: relative;

font-family: 'Marck Script', cursive;
  background-image: url(../img/bg.svg);
  background-repeat: no-repeat;
  background-size: 500%;
  background-position: center center;
  overflow-y: scroll;
  overflow-x: hidden;
  height: 100vh;
  /* min-height: 600px; */
  width: 100vw;
  animation: body-bg 10s infinite linear;
  display: flex;
  justify-content: center;
  overflow: hidden;
}
@keyframes body-bg{
  0%{
    background-position: center center;
  }
  25%{
    background-position: center right;
  }
  50%{
    background-position: center center;
  }
  75%{
    background-position: center left;
  }
  100%{
    background-position: center center;
  }
}
h1{
  position: absolute;
  top: 15px;
  font-style: normal;
  font-weight: bold;
  font-size: 40px;
  line-height: 44px;
  text-align: center;
  color: #FFFFFF;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  font-family: 'Marck Script', cursive;

  width: 92%;
  left: 50%;
  transform: translateX(-50%);
}
.box{
  max-width: 343px;
  width: 92%;
  height: 70%;
  /* min-height: 550px; */
  background-color: white;
  border-radius: 10px;
  position: absolute;
  top: 110px;
  left: 50%;
  transform: translateX(-50%);
  overflow-y: hidden;
  font-family: 'Marck Script', cursive;
  padding: 16px 16px 120px;
  border-left: 2px solid gray;
}
.box::-webkit-scrollbar{
  width: 8px;
}
.box::-webkit-scrollbar-thumb{
  background-color: #e139448e;
  border-radius: 10px;
}
.box_open{
  overflow-y: auto;
}
h2{
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  line-height: 40px;
  text-align: center;
  color: #b80000;
  margin-bottom: 16px;
}
p{
  font-style: normal;
  font-weight: normal;
  font-size: 22px;
  line-height: 26px;
  color: #d34e00;
  margin-bottom: 12px;
}
.right{
  text-align: right;
  display: block;
}
h3{
  font-weight: bold;
  font-size: 26px;
  line-height: 32px;
  text-align: center;
  color: #480054;
}
.swiper{
  height: 172px;
  margin: 20px 0;
  border-radius: 10px;
}
.swiper-slide{
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom 30% center;
  height: 100%;
  border-radius: 10px;
  background-size: cover;
}
.swiper-slide_1 {
  background-image: url(../img/33.jpg);
      background-position: top -10px center;
}
.swiper-slide_2 {
  background-image: url(../img/22.jpg);
    background-position: top -70px center;
}
.swiper-slide_3 {
  background-image: url(../img/11.jpg);
  background-position: top -120px center;
}
.swiper-slide_4 {
  background-image: url(../img/4.JPG);
  background-size: contain;
}
.swiper-slide_5 {
  background-image: url(../img/5.JPG);
}
.swiper-slide_6 {
  background-image: url(../img/gif.gif);
}

.decot_top{
  position: absolute;
  top: 7vh;
  left: 0;
  width: 0px;
  height: 0px;
  z-index: 0;
}
.box-decor{
  position: relative;
  z-index: -1;
}
.decot_bottom{
  position: absolute;
  bottom: -100px;
  right: 34%;
  width: 90px;
  height: 98px;
  z-index: 0;
}
.cherry{
    position: relative;
    bottom: -110px;
}

.box-cap{
  max-width: 343px;
  width: 92%;
  height: 70vh;
  /* min-height: 550px; */
  background-color: white;
  border-radius: 10px;
  position: relative;
  top: 110px;
  overflow-y: hidden;
  transform-origin: left center;
  transition: all 1s;
  transform: perspective(1000px);
  text-align: center;
  padding: 2vh 16px 2vh 16px;
}
.box-cap h1{
  position: relative;
  margin-bottom: 10vh;
  color: #b80000;
  font-size: 36px;
  line-height: 40px;
}
.cap_open{
  transform: perspective(1000px) rotateY(-120deg);

}
.heart1{
    width: 7vh;
    margin-left: 20px;
}

.cap__decor{
  /* width: 274px; */
  height: 25vh;
  margin-bottom: 22px;
}
.cap__button{
  font-style: normal;
  font-weight: bold;
  font-size: 32px;
  line-height: 39px;
  text-align: center;
  color: #E13945;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  font-family: 'Marck Script', cursive;
  background-color: transparent;
  transform: scale(1);
  animation: button 1s linear infinite alternate-reverse;
  margin-bottom: 6px;
}
.cap__button img{
  display: block;
  margin: 0 auto;
}
@keyframes button{
  100%{
    transform: scale(1.1);
  }
}
.cap__hard{
  /* width: 102px; */
  height:20vh;
}
.cap_open img, .cap_open button{
  opacity: 0;
  transition: 0.5s;
}
/* .wrapper{
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 1s;
}
.wrapper_hide{
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  transition: all 1s;
} */
